/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

iconify-icon {
   display: inline-block;
   width: 1em;
   height: 1em;
}

:root {
   --rounded-box: 28px;
   --rounded-btn: 28px;
   --tab-radius: 28px;
}